doctype html
html
	head
		title 1004Catering
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			div(id='call')
				span Call Us Today! 562-407-1004 | lunch@1004catering.com
			div(id='logo')
				img(src='/images/LOGO.png' )
			nav
				a Angel Catering
				a Gallery
				a Wedding
				a Birthday Party
				a Party & Event
				a Lunch
				a Language


		block content

		footer
			div(id='contact')
				p contact
				p 562-407-1004
				p 714-234-0864
				p 213-365-0006
				p Info@1004catering.com
				p 1004Catering
				p 14528 Carmenita Rd.
				p Norwalk, CA 90650
				a(href='https://www.facebook.com/pages/Angel-Catering/348531631977637')
					img(src='/images/facebook.ico' class='social-icon')
				a(href='https://www.yelp.com/biz/angel-catering-norwalk')
					img(src='/images/yelp.ico' class='social-icon')

			div
				hr(width='1' size='300')
					
			div
				h3 information
				p about us
				p contact us
			div
				h3 weddings
				p wedding menu
				p wedding event gallery
			div
				h3 birthday
				p birthday menu
				p birthday event
				p gallery
			div
				h3 events & party
				p event & party menu
				p event & party gallery
			div
				h3 lunch
				p lunch menu
				p lunch gallery



