doctype html
html
	head
		title 1004Catering
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(id='call')
			span Call Us Today! 562-407-1004 | lunch@1004catering.com
		div(id='logo')
			img(src='/images/LOGO.png' )
		nav
			a Angel Catering
			a Gallery
			a Wedding
			a Birthday Party
			a Party & Event
			a Lunch
			a Language


		block content
