body {
  font: 16px Papyrus, Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

#call {
	height: 50px;
	background-color: #A0CE4E;
}

#call span{
	display:block;
	color: white;
	padding: 20px;
}

#language {
	padding:5px 20px;
}

#logo{
	height: 300px;
	background: repeating-linear-gradient(
		0deg,
		#F5DEB3 10%,
		#f0ebd8 15%,
		#F5DEB3 10%
	);
}

#logo img{
	display:block;
	max-width: 100%;
	max-height: 100%;
}

nav{
	padding-left:10px;
	height: 80px;
	background-color: #8AA96D;
}

nav p{
	float:left;
	padding-left:10px;
	padding-right:10px;
	color: white;
	font-size: 22px;
}

nav p:hover{
	color:#A0CE4E;
	box-shadow: 0px 5px #A0CE4E;
}

footer{
	height: 380px;
	background-color:#251505;
	color: white;
}



.footer-links{
	float:left;
	padding: 5px 20px;
}

.phone-icon{
	filter:rgb(255,255,255);
	width:50px;
	width:50px;
}

.social-icon{
	width: 50px;
	height: 50px;
}

.selected{
	font-weight:bold;
	text-decoration:underline;
}

.unselected:hover{
	font-weight:bold;
	text-decoration:underline;
}

h3{
	text-decoration:underline;
	color:#A0CE4E;
}

.korean{
	font-family: Batang;
}
/*Batang, Dotum, Gulim, Gungsuh, Malgun Gothic*/

@media(max-width:800px){
	nav p {
		margin:10px 10px 0px 0px;
		width:100%;
	}
	nav {
		height:270px;
	}
	#call {
		display:none;
	}
	#logo{
		display:none;
	}

	footer{
		height: 1200px;
	}

	.footer-links{
		clear:left;
	}

	#vertical-rule{
		clear:both;
	}

	#vertical-rule{
		display:none;
	}

}
/*GREENS
C8EC9F
9AC965
6B9A33
426C12
213D00
*/

/*REDS
FF8DAB
DD866F
AA5039
772814
440E00
*/

/*PURPLES
B17EB9
874B91
652770
450E4E
26012D
*/