body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#call {
	height: 40px;
	background-color: #9AC965;
	text-align:center;
}

#call>span{
	color: white;
}

#logo{
	height: 200px;
	background: repeating-linear-gradient(
		0deg,
		#F5DEB3 10%,
		#f0ebd8 15%,
		#F5DEB3 10%
	);
}

#logo>img{
	display:block;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

nav{
	height: 60px;
	background-color: #6B9A33;
	text-align:center;
}

nav>a{
	margin: 5px;
	padding: 5px;
	color: white;
	text-transform:uppercase;
	font-size: 22px;
	
}

/*GREENS
C8EC9F
9AC965
6B9A33
426C12
213D00
*/

/*REDS
FF8DAB
DD866F
AA5039
772814
440E00
*/

/*PURPLES
B17EB9
874B91
652770
450E4E
26012D
*/